<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.EngageAnswerDetailsMapper">
	<!-- 使用二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>

	<!-- 插入信息 -->
	<insert id="saveInfo" parameterType="EngageAnswerDetails"
		useGeneratedKeys="true" keyProperty="and_id">
		insert into
		engage_answer_details(answer_number,subject_id,answer)
		value(#{answer_number},#{subject_id},#{answer})
	</insert>
	
	<!-- 根据试卷ID查找 -->
	<select id="getInfoById" resultType="EngageAnswerDetails"
		parameterType="EngageAnswerDetails">
		select * from engage_answer_details where
		answer_number=#{answer_number}
	</select>
	
 
 
</mapper>